/* - ELEMENTS - */
/*div {
    overflow-x: hidden;
}*/

body {
	background: #243757;
	width: 100%;
	overflow-x: hidden;
	user-select: none;
}

.content {
	z-index: 2;
	border-top: solid 10px #000;
	border-bottom: solid 10px #000;
	border-right: solid 10px #000;
	border-radius: 0 100px 100px 0px;
	background: rgba(0, 0, 0, 0.3);
}

.contentAnswer {
	z-index: 2;
	border-top: solid 10px #000;
	border-bottom: solid 10px #000;
	border-right: solid 10px #000;
	border-radius: 0 100px 100px 0px;
	background: rgba(0, 0, 0, 0.3);
}

.contentAnswer:active {
	opacity: 0.5;
}

#question {
	position: absolute;
	top: 15%;
	left: -100%;
	width: 60%;
	padding: 1% 5% 1% 6%;
}

#answera {
	position: absolute;
	top: 40%;
	left: -100%;
	width: 50%;
	padding: 1% 0% 1% 6%;
}

#answerb {
	position: absolute;
	top: 55%;
	left: -100%;
	width: 50%;
	padding: 1% 0% 1% 6%;
}

#answerc {
	position: absolute;
	top: 70%;
	left: -100%;
	width: 50%;
	padding: 1% 0% 1% 6%;
}

#answerd {
	position: absolute;
	top: 85%;
	left: -100%;
	width: 50%;
	padding: 1% 0% 1% 6%;
}

#quizmaster {
	clear: both;
	position: absolute;
	top: 15%;
	right: -100%;
	z-index: 2;
	height: 70%;
	width: 13%;
	padding: 1% 5% 1% 6%;
	border-top: solid 10px #000;
	border-bottom: solid 10px #000;
	border-left: solid 10px #000;
	border-radius: 100px 0 0 100px;
	background: rgba(0, 0, 0, 0.3);
}

#scoreboard {
	background: rgba(0, 0, 0, 0.3);
	padding: 1em;
	margin-top: 15%;
	margin-left: 10%;
	border-radius: 50px;
	border: solid 10px #000;

}

#welcome {
	display: none;
	position: relative;
	top: 50px;
	left: 20px;
	z-index: 2;
	width: 85%;
}

#welcomeText {
	width: 50%;
}

.scoreButton {
	display: none;
	height: 20px;
	width: 20px;
	margin: 0 50%;
	opacity: 0.4;
	border: solid 10px #000;
	border-radius: 50%;
	background: #fff;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: .5em 0;
	background: rgba(0, 0, 0, 0.3);
	text-align: right;
}

/*Decorative Bars*/

#flavorbarA {
	position: fixed;
	top: 0;
	right: 20%;
	height: 100%;
	width: 5%;
	border-right: solid 10px #000;
	border-left: solid 10px #000;
	background: #3a5f6f;
	background: linear-gradient(#3a5f6f, #663a6f);
}

#flavorbarB {
	position: fixed;
	top: 0;
	right: 17%;
	height: 100%;
	width: 1%;
	border-right: solid 10px #000;
	border-left: solid 10px #000;
	background: linear-gradient(#3a5f6f, #663a6f);
}

/* IMAGES */

#quizmaster img {
	border-radius: 25px;
	border: solid 10px #000;
	margin-top: 25%;
	margin-left: 10%;
}

#welcome img {
	float: right;
	border-radius: 50%;
	border: solid 10px #000;
}

#muteButton {
	opacity: 0.5;
	margin: 1em;
}

#muteButton:active {
	opacity: 1;
}

/* FONTS */

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5rem;
	font-weight: 700;
	color: #fff;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	color: #fff;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	color: #fff;
	text-align: center;
	padding: .25em;
	border: solid 10px #fff;
	border-radius: 50px;
}

h3:hover {
	box-shadow: 0 0 50px #fff;
}

h3:active {
	opacity: 0.5;
}

#welcome h2 {
	font-size: 2em;
	padding-right: 25%;
	margin-top: 5%;
	margin-bottom: 10%;
}

h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75em;
	color: #fff;
	font-style: italic;
}

input[type=text], select, text area {
	width: 80%;
	padding: .5em;
	border: 1px solid #000000;
	border-radius: 0 100px 100px 0px;
	resize: vertical;
	font-size: 1.5em;
}

input:focus {
    outline:none;
}